* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  color: var(--colorfont);
}

:root {
  --bgcolor: #f8f9fa;
  --coloryellow: #ffdd8a;
  --colorred: #ff0000;
  --colorreddark: #c10202;
  --black1: #231f20;
  --black2: #1f1b1c;
  --black3: #171415;
  --black4: #0f0d0e;
}

body {
  font-family: Georgia, Roboto, sans-serif;
  background-color: var(--bgcolor);
  padding-bottom: 0px !important;
}

.link,
.nav-link {
  color: #ffffff !important;
  font-family: Georgia, Roboto, sans-serif !important;
  size: 0.8em !important;
}

.dropdown-item {
  color: #000 !important;
}

.bgnav {
  background-color: var(--colorreddark);
  width: 100% !important;
}

.titulo-text-slide {
  font-size: 2rem;
  font-family: roboto;
  font-weight: 800;
}

.carousel-caption p {
  font-size: 1em;
  font-family: roboto;
  font-weight: 400;
}

.carousel-caption p span {
  font-size: 1em;
  font-family: roboto;
  font-weight: 800;
}

.btn-primary {
  background-color: var(--coloryellow) !important;
  border-color: var(--coloryellow) !important;
  color: #000 !important;
  font-size: 0.8em !important;
  font-family: roboto !important;
  font-weight: 800 !important;
}

.font-weight-normal {
  font-weight: 800 !important;
}

.section-home {
  background-color: var(--black4);
  color: var(--coloryellow) !important;
  font-size: 0.8em !important;
  font-family: roboto !important;
}

.margin-auto {
  margin: auto !important;
}

.black1 {
  background-color: var(--black1);
  width: 70%;
}

.black2 {
  background-color: var(--black2);
  width: 70%;
}

.black3 {
  background-color: var(--black3);
  width: 70%;
}

.black4 {
  background-color: var(--black4);
  width: 70%;
}

.font-home {
  color: var(--coloryellow);
  font-size: 1.1em;
  font-family: "PT Sans Narrow";
  font-weight: 900;
  margin: auto;
}

.btn-home {
  border: solid #fff 1px;
  border-radius: 5px;
  padding: 5px 15px;
  color: #fff;
  font-size: 0.7em;
  font-family: "PT Sans Narrow";
  font-weight: 700;
  margin-bottom: 15px;
}

.produto1,
.produto2,
.produto3,
.produto4 {
  width: 100%;
  height: 190px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.produto1 {
  background-image: url("../img/topgondolas1.png");
}

.produto2 {
  background-image: url("../img/topgondolas2.png");
}

.produto3 {
  background-image: url("../img/topgondolas3.png");
}

.produto4 {
  background-image: url("../img/topgondolas4.png");
}

.nopadding {
  padding: 0px !important;
  margin-bottom: 0px !important;
}

.font-preco {
  padding: 0px;
  font-size: 0.8em;
  color: gray;
}

.img-imagem {
  width: 200px;
  height: 200px;
  margin: 35px;
}

.titulo-whats {
  font-size: 1em;
  font-weight: 900;
}

.p-whats {
  font-size: 0.8em;
}

.btn-whats {
  background-color: #67bb34;
  color: #fff;
  font-size: 0.75em;
  font-family: "PT Sans Narrow";
  border: 0px;
  padding: 5px 25px;
  border-radius: 5px;
  font-weight: 900;
}

.bg-img {
  background-image: url("../img/bgformtopgondolas.png");
}

.font-form {
  color: white;
  font-size: 2em !important;
  font-weight: 900;
  font-family: Roboto;
  width: 70%;
}
.font-red {
  color: red;
}

.margin-top-button {
  margin: 4em 0px !important;
}

.col-form-label-sm {
  color: white !important;
  margin: 0px !important;
}

.col-form-label-sm label {
  margin: 0px !important;
}

.col-form-label-sm span {
  color: red !important;
}

.top-footer {
  color: white !important;
  font-size: 0.8em;
  font-weight: 700;
}

.top-footer li {
  list-style: none;
  margin-bottom: 7px;
}

.bg-black {
  background-color: #000;
  padding: 15px 0px;
}

.fone-footer {
  color: var(--coloryellow);
  padding: 0px !important;
  margin: 0px !important;
}

.redes-footer {
  color: var(--colorred);
  padding: 0px !important;
  margin: 0px !important;
  font-size: 2em;
}

.bg-black1 {
  background-color: var(--black1);
}
